*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  text-decoration: none;
}

::selection {
  background: #47a3f3;
  color: #fefefe;
}

html,
body {
  width: 100vw;

  min-height: 100vh;
  min-width: var(--min-width);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  background: var(--bg-main);

  color: var(--color-800);

  main {
    width: 100%;
    height: 100%;

    flex: 1 1 auto;
  }

  .wrapper {
    max-width: var(--max-width);

    margin-inline: auto;

    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;

    padding: 0 1.25rem;
  }

  .title,
  .subtitle {
    display: flex;
    align-items: center;
    gap: 0.35rem;

    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--color-800);

    &.link {
      color: var(--color-800);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    line-height: 2rem;

    font-size: 1.075rem;

    &.highlight {
      padding-bottom: 0.55rem;

      border-bottom: 0.8px solid var(--color-300);
    }
  }

  .desc {
    line-height: 1.75rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 0.875rem;
    color: var(--color-800);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;

    .desc {
      line-height: 1.35rem;

      color: var(--color-600);
    }
  }

  .link {
    line-height: 1.2rem;

    font-size: 0.875rem;
    color: var(--color-600);

    transition: var(--duration);

    &:hover {
      color: var(--color-800);
    }
  }

  .btn-reset {
    width: 100%;

    padding: 0.45rem;

    outline: none;
    cursor: pointer;

    @media (max-width: 768px) {
      cursor: default;
    }

    background: var(--bg-500);
    border: 1.2px solid var(--color-300);
    border-radius: var(--border-radius-300);

    font-size: 0.785rem;
    font-weight: 500;
    color: var(--color-800);

    transition: var(--duration);

    &:hover {
      color: var(--color-600);
      background: var(--bg-500-hover);
    }

    &:active {
      background: var(--bg-500-active);
    }
  }

  .list-reset {
    list-style: none;
  }

  .input-reset {
    width: 100%;
    height: 2.55rem;

    padding: 0.575rem 0.75rem;

    -webkit-appearance: none;
    appearance: none;

    background: var(--bg-500);
    border: 1px solid var(--color-300);
    border-radius: var(--border-radius-300);
    outline: 2.4px solid transparent;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-800);
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px var(--color-300);
      caret-color: var(--color-800);
    }

    line-height: 1.38462rem;

    font-size: 0.875rem;
    color: var(--color-700);

    &::placeholder {
      color: var(--color-400);
    }

    &:focus {
      border-color: var(--blue-border-color);
      outline-color: var(--blue-outline-color);
    }
  }

  .logo_wrapper {
    width: 5.25rem;
    height: 5.25rem;

    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &.gradient {
      background: url(https://yastatic.net/s3/kinopoisk-frontend/hd-www/release/_next/static/media/plus-xs.7cc3bd56.svg)
        no-repeat;
      background-size: contain;

      .logo {
        padding: 0.15rem;
      }
    }

    .logo {
      width: 100%;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;

      border-radius: 50%;

      object-fit: cover;
    }
  }
}
