:root {
  --bg-main: hsl(240, 10%, 6%);
  --bg-main-hover: hsl(240, 10%, 8%);
  --bg-main-active: hsl(240, 10%, 10%);

  --bg-500: hsl(240, 9.47%, 10.39%);
  --bg-500-hover: hsl(240, 9.47%, 14%);
  --bg-500-active: hsl(240, 9.47%, 16%);

  --bg-white: #fff;
  --bg-white-hover: #f2f2f2;
  --bg-white-active: #ededed;

  --bg-blue: rgb(52, 116, 255);
  --bg-blue-hover: rgb(59 130 246 / 1);
  --bg-blue-active: rgb(53, 118, 222);

  --blue-color: rgb(68, 127, 255);
  --blue-outline-color: rgba(26, 78, 189, 0.571);
  --blue-border-color: rgba(68, 127, 255, 0.823);

  --bg-red: rgb(255, 111, 111);
  --bg-red-hover: rgb(255, 117, 117);
  --bg-red-active: rgb(222, 84, 84);

  --red-color: hsl(0 90.6% 70.8% / 1);
  --red-outline-color: hsl(0 84.2% 60.2% / 0.3);
  --red-border-color: hsl(0 90.6% 70.8% / 1);

  --bg-code: var(--bg-500);
  --bg-code-300: var(--bg-300);
  --bg-code-hover: var(--color-300);
  --bg-code--markup-inserted: #033a16;
  --bg-code--markup-deleted: #67060c;

  --color-code-main: var(--color-800);
  --color-code-keyword: #ff7b72;
  --color-code-entity: #d2a8ff;
  --color-code-constant: #79c0ff;
  --color-code-string: #a5d6ff;
  --color-code-variable: #ffa657;
  --color-code-comment: #8b949e;
  --color-code-entity-tag: #7ee787;
  --color-code-storage-modifier-import: var(--color-code-main);
  --color-code-markup-heading: #1f6feb;
  --color-code-markup-list: #f2cc60;
  --color-code-markup-italic: var(--color-code-main);
  --color-code-markup-bold: var(--color-code-main);
  --color-code-markup-inserted: #aff5b4;
  --color-code-markup-deleted: #ffdcd7;

  --border-radius-700: 1rem;
  --border-radius-500: 0.75rem;
  --border-radius-400: 0.575rem;
  --border-radius-300: 0.3125rem;
  --border-radius-200: 0.25rem;

  --color-800: rgb(255 255 255 / 1);
  --color-600: rgba(235, 235, 245, 0.6);
  --color-400: rgba(235, 235, 245, 0.343);
  --color-300: hsl(240, 7%, 19%);

  --gradient-loader: linear-gradient(
    90deg,
    var(--color-300),
    var(--bg-main),
    var(--bg-500)
  );

  --min-width: 21.875rem;
  --max-width: 34.375rem;

  --duration: 0.25s;
}
