:root {
  // --bg-main: #000;
  --bg-main: #161616;
  --bg-main-hover: #101010;
  --bg-main-hover: #111111;

  --bg-300: #1616166f;

  // --bg-500: #0f0f0f;
  --bg-500: #242424;
  --bg-500-hover: #303030;
  --bg-500-active: #4c4c4c;

  --bg-white: #fffffffa;
  --bg-white-hover: #ffffffe6;
  --bg-white-active: #d8d8d8;

  --white-color: hsl(0 0% 94.12% / 1);
  --white-outline-color: hsla(0, 0%, 94%, 0.291);
  --white-border-color: hsl(0 0% 94.12% / 1);

  --bg-blue: #418af4;
  --bg-blue-hover: #418af4e6;
  --bg-blue-active: #418af4e6;

  --blue-color: #418af4;
  --blue-outline-color: rgba(26, 78, 189, 0.345);
  --blue-border-color: #418af4;

  --bg-red: rgba(255, 111, 111, 0.27);
  --bg-red-hover: rgba(255, 111, 111, 0.403);
  --bg-red-active: rgba(255, 111, 111, 0.519);

  --red-color: hsl(0 90.6% 70.8% / 1);
  --red-outline-color: hsl(0 84.2% 60.2% / 0.3);
  --red-border-color: hsl(0 90.6% 70.8% / 1);

  --bg-code: var(--bg-500);
  --bg-code-300: #151515;
  --bg-code-hover: var(--color-300);
  --bg-code--markup-inserted: #033a16;
  --bg-code--markup-deleted: #67060c;

  --color-code-main: #e5e5e5;
  --color-code-keyword: #ff7b72;
  --color-code-entity: #d2a8ff;
  --color-code-constant: #79c0ff;
  --color-code-string: #a5d6ff;
  --color-code-variable: #ffa657;
  --color-code-comment: #8b949e;
  --color-code-entity-tag: #7ee787;
  --color-code-storage-modifier-import: var(--color-code-main);
  --color-code-markup-heading: #1f6feb;
  --color-code-markup-list: #f2cc60;
  --color-code-markup-italic: var(--color-code-main);
  --color-code-markup-bold: var(--color-code-main);
  --color-code-markup-inserted: #aff5b4;
  --color-code-markup-deleted: #ffdcd7;

  --border-radius-700: 1rem;
  --border-radius-500: 0.75rem;
  // --border-radius-400: 0.575rem;
  --border-radius-400: 0.5rem;
  --border-radius-300: 0.3125rem;
  --border-radius-200: 0.25rem;

  // --color-800: rgb(255 255 255 / 1);
  --color-800: #fffffffa;
  // --color-600: rgba(235, 235, 245, 0.6);
  --color-600: #a2a4a7;
  // --color-400: rgba(235, 235, 245, 0.375);
  --color-400: #a3a3a3;
  // --color-300: hsl(240, 7%, 19%);
  --color-300: #404040;
  --color-200: rgb(255 255 255 / 10%);

  --gradient-loader: linear-gradient(
    90deg,
    var(--color-300),
    var(--bg-main),
    var(--bg-500)
  );

  --min-width: 21.875rem;
  // --max-width: 34.375rem;
  --max-width: 38.375rem;

  --duration: 0.25s;
}
