:root {
  --bg-main: #0f0f11;
  --bg-main-hover: #212125;
  --bg-main-active: #28282d;

  --border-radius-700: 1rem;
  --border-radius-500: 0.75rem;
  --border-radius-400: 0.575rem;
  --border-radius-300: 0.3125rem;
  --border-radius-200: 0.25rem;

  --color-800: rgb(255 255 255 / 1);
  --color-600: rgba(235, 235, 245, 0.6);
  --color-300: #2a2c2f;

  --min-width: 21.875rem;
  --max-width: 38rem;

  --duration: 0.25s;
}
