.wrapper {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    animation: rotateAnimation 0.9s infinite linear;

    @keyframes rotateAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
