.nav {
  height: 100%;

  .list {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 1.688rem;

    .item {
      height: 100%;

      .link {
        height: 100%;

        display: flex;
        align-items: center;

        &.isCurrent {
          color: var(--color-800);
        }
      }
    }
  }
}
