.account {
  position: relative;

  &.active {
    .menu {
      opacity: 1;
      visibility: visible;

      transform: scale(1, 1);
    }
  }

  .logo_wrapper {
    min-width: 2.2rem;
    min-height: 2.2rem;

    cursor: pointer;

    @media (max-width: 768px) {
      cursor: default;
    }

    border: 1.2px solid var(--color-300);
    border-radius: 50%;
  }

  .menu {
    min-width: 220px;

    padding: 0.55rem 0.85rem;

    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    position: absolute;
    top: 46px;
    right: 0;
    z-index: 2;

    transform: scale(0.75, 0.75);
    transform-origin: top right;

    background: var(--bg-500);
    border-radius: var(--border-radius-400);
    border: 1px solid var(--color-300);

    transition: var(--duration);

    @media (max-width: 768px) {
      top: 42px;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;

      .user {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .name {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          font-size: 1rem;
          color: var(--color-800);
        }

        .joined {
          font-size: 0.785rem;
          color: var(--color-400);
        }
      }

      .email {
        font-size: 0.875rem;
        color: var(--color-600);
      }
    }
  }
}
