.account {
  position: relative;

  &.active {
    .menu_wrapper {
      opacity: 1;
      visibility: visible;

      transform: scale(1, 1);
    }
  }

  .logo_wrapper {
    min-width: 2.2rem;
    min-height: 2.2rem;

    cursor: pointer;

    @media (max-width: 768px) {
      cursor: default;
    }

    border: 1.2px solid var(--color-300);
    border-radius: 50%;
  }

  .menu_wrapper {
    min-width: 220px;

    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 44px;
    right: 0;
    z-index: 3;

    transform: scale(0.75, 0.75);
    transform-origin: top right;

    transition: var(--duration);

    @media (max-width: 768px) {
      top: 42px;
    }

    .menu {
      padding: 0.75rem 0.85rem;

      display: flex;
      flex-direction: column;
      gap: 0.85rem;

      background: rgb(33 35 37 / 100%);
      border: 0.8px solid var(--color-300);
      border-radius: var(--border-radius-500);

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;

        .user {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .name {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            font-size: 1rem;
            color: var(--color-800);
          }

          .joined {
            font-size: 0.785rem;
            color: var(--color-400);
          }
        }

        .email {
          font-size: 0.875rem;
          color: var(--color-600);
        }
      }
    }
  }
}
