.wrapper {
  padding-top: 1.65rem;
  padding-bottom: 1.65rem;

  display: flex;
  flex-direction: column;
  gap: 2.55rem;

  .container,
  .content_container {
    display: flex;
    flex-direction: column;
    gap: 1.05rem;

    .desc {
      gap: 0.35rem;
    }
  }

  .content_container {
    gap: 0.85rem;
  }
}

.modal {
  width: 100%;
  max-width: 26rem;

  padding: 2rem 1rem;

  background: var(--bg-500-hover);
  border: 1px solid var(--color-300);
  border-radius: var(--border-radius-500);

  gap: 1rem;
}
