.badge {
  padding: 0.05rem 0.55rem;

  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  background: var(--bg-500);
  border: 1.2px solid var(--color-300);
  border-radius: var(--border-radius-200);

  font-size: 0.785rem;
  color: var(--color-800);

  &:hover {
    border-color: var(--blue-color);
  }
}
