.badge {
  padding: 0.25rem 0.65rem;

  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  background: var(--bg-500);
  border-radius: var(--border-radius-400);

  font-size: 0.875rem;
  color: var(--color-800);

  &:hover {
    background: var(--bg-500-hover);
  }
}
