.messages,
.load {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .load_more {
    display: flex;
    align-items: center;
    gap: 0.05rem;

    cursor: pointer;

    @media (max-width: 768px) {
      cursor: default;
    }

    font-size: 0.785rem;
    color: var(--color-400);
  }

  .message_wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    overflow: hidden;

    border: 0.5px solid transparent;
    border-radius: var(--border-radius-300);

    &:hover {
      background: var(--bg-main-hover);
      border-color: var(--bg-500-hover);

      .del {
        width: 10%;

        padding: 0.55rem;

        transform: translateX(0);
      }
    }

    .message {
      width: 100%;

      padding: 0.45rem;

      display: flex;
      gap: 0.55rem;

      .logo_wrapper {
        width: 35px;
        height: 35px;

        min-width: 35px;
        min-height: 35px;

        border-radius: 50%;
      }

      .info {
        display: flex;
        flex-direction: column;

        line-height: 1.38462rem;

        font-size: 0.875rem;
        color: var(--color-800);

        .name {
          display: flex;
          align-items: center;
          gap: 0.35rem;

          color: var(--color-600);

          .created_at {
            font-size: 0.785rem;
            color: var(--color-400);

            &:before {
              content: '•';
              margin-right: 0.35rem;
            }
          }
        }
      }

      .metadata {
        margin-left: auto;
        margin-bottom: auto;

        display: flex;
        align-items: center;
        gap: 0.55rem;

        .likes {
          padding: 0.15rem;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;

          cursor: pointer;
          @media (max-width: 768px) {
            cursor: default;
          }

          font-size: 0.785rem;
          font-weight: 500;
          color: var(--color-600);

          &.liked {
            background: var(--blue-color-outline);

            color: var(--blue-color);
          }

          &.disabled {
            cursor: not-allowed;
          }
        }
      }
    }

    .del {
      width: 0;

      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      @media (max-width: 768px) {
        cursor: default;
      }

      background: var(--bg-red);

      color: var(--red-color);

      transition: var(--duration);

      &:hover {
        background: var(--bg-red-hover);
      }

      &:active {
        background: var(--bg-red-active);
      }
    }
  }
}

.load {
  .message_wrapper {
    .message {
      .logo_wrapper {
        background: var(--gradient-loader);
        background-size: 500% 500%;

        animation: loadingAnimation 2s linear infinite;

        @keyframes loadingAnimation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }

      .info {
        width: 100%;

        gap: 0.45rem;

        .name {
          width: 100%;
          max-width: 135px;

          padding: 0.35rem;

          background: var(--gradient-loader);
          border-radius: var(--border-radius-300);
          background-size: 500% 500%;

          animation: loadingAnimation 2s linear infinite;

          @keyframes loadingAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }

        .text {
          width: 100%;
          max-width: 280px;

          padding: 0.55rem;

          background: var(--gradient-loader);
          border-radius: var(--border-radius-300);
          background-size: 500% 500%;

          animation: loadingAnimation 2s linear infinite;

          @keyframes loadingAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }
      }
    }
  }
}

.modal {
  width: 100%;
  max-width: 20rem;

  padding: 2rem 1rem;

  background: var(--bg-500-active);
  border-radius: var(--border-radius-500);

  gap: 1rem;

  .text {
    align-items: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 0.55rem;
  }
}
