.skills {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.35rem;

  @media (max-width: 625px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 475px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 395px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill {
    padding: 0.55rem 0.35rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.35rem;

    font-size: 0.925rem;
    color: var(--color-600);

    &:hover {
      color: var(--color-800);
    }
  }
}
