.image_wrapper {
  width: 100%;
  height: auto;

  .image {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border: 0.8px solid var(--color-300);
    border-radius: var(--border-radius-700);
  }
}

.copy {
  padding: 0.35rem;

  position: absolute;
  right: 0.45rem;
  top: 0.45rem;

  background: var(--bg-code-300);
  border: 0.8px solid var(--bg-code-hover);
  border-radius: var(--border-radius-400);

  cursor: pointer;

  font-size: 1.755rem;
  color: var(--color-code-main);

  @media (max-width: 585px) {
    cursor: default;
  }
}

.link {
  color: var(--blue-color);

  &:hover {
    text-decoration: underline;

    color: var(--bg-blue-hover);
  }
}

.code {
  padding: 0.15rem 0.35rem;

  background: var(--bg-500);
  border: 0.8px solid var(--color-300);
  border-radius: var(--border-radius-300);

  color: var(--color-code-main);
  font-size: 0.875rem;

  &.lang {
    padding: 0;

    background: 0;
    border: 0;
    border-radius: 0;
  }
}

.h1 {
  padding-top: 1.55rem;
  padding-bottom: 1.25rem;

  border-bottom: 0.5px solid var(--color-300);

  font-size: 1.385rem;
  font-weight: 500;
  color: var(--color-800);

  .code {
    font-size: 1.075rem;
  }
}

.h2,
.h3,
.h4 {
  scroll-margin-top: 4rem;
  padding-top: 1.55rem;

  font-size: 1.285rem;
  font-weight: 500;
  color: var(--color-800);

  .code {
    font-size: 1rem;
  }

  &:hover {
    &::before {
      content: '#';

      padding-right: 0.55rem;

      color: var(--color-400);
    }
  }
}

.h3 {
  font-size: 1.105rem;

  .code {
    font-size: 0.995rem;
  }
}

.h4 {
  font-size: 1.085rem;

  .code {
    font-size: 0.985rem;
  }
}

.p {
  line-height: 1.65rem;

  font-size: 0.925rem;
  color: var(--color-600);

  .link {
    color: var(--blue-color);

    &:hover {
      text-decoration: underline;

      color: var(--bg-blue-hover);
    }
  }
}

.code_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;

  position: relative;

  background: var(--bg-code);
  border: 0.8px solid var(--color-200);
  border-radius: var(--border-radius-700);

  color: var(--color-800);

  .pre {
    width: 100%;
    height: 100%;

    padding: 0.95rem 0.85rem;

    overflow: hidden;
    overflow-x: auto;

    -ms-overflow-style: 0;
    scrollbar-width: 0;
  }

  .copy {
    padding: 0.35rem;

    position: absolute;
    right: 0.45rem;
    top: 0.45rem;

    background: var(--bg-code-300);
    border: 0.8px solid var(--bg-code-hover);
    border-radius: var(--border-radius-400);

    cursor: pointer;

    font-size: 1.755rem;
    color: var(--color-code-main);

    @media (max-width: 585px) {
      cursor: default;
    }
  }
}

.ul,
.ol {
  line-height: 1.8;

  padding-left: 1.125em;

  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.li {
  line-height: 1.65rem;

  font-size: 0.925rem;
  color: var(--color-600);

  .p {
    color: var(--color-600);
  }

  &::marker {
    color: var(--color-400);
    font-size: 1.15rem;
  }
}

.strong {
  color: var(--color-800);
}

.blockquote {
  display: block;

  margin: 1rem 0;
  padding-left: 1.525rem;

  border-left: 0.3rem solid var(--color-300);
  border-radius: var(--border-radius-200);

  line-height: 1.65;

  font-style: italic;
}

.del {
  font-style: italic;
}
