.menu {
  width: 100%;
  height: 100vh;

  min-width: var(--min-width);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;

  background: var(--bg-300);

  transition: opacity var(--duration), visibility var(--duration);

  @media (min-width: 769px) {
    display: none;
  }

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  .container {
    padding-top: 1.05rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .list {
      margin-top: 8rem;

      display: flex;
      flex-direction: column;
      gap: 2.688rem;

      .item {
        height: 100%;

        .link {
          height: 100%;

          display: flex;
          align-items: center;

          cursor: default;

          font-size: 1.475rem;

          &.isCurrent {
            color: var(--color-800);
          }
        }
      }
    }
  }
}
