.button {
  width: 100%;

  padding: 0.55rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;

  border-radius: var(--border-radius-300);

  font-size: 0.875rem;
  color: var(--color-700);

  transition: 0.25s;

  &:hover {
    color: var(--color-500);
    background: var(--bg-main-hover);
  }

  &:active {
    background: var(--bg-main-active);
  }

  @media (max-width: 768px) {
    cursor: default;
  }

  &.small {
    gap: 0.15rem;

    padding: 0.25rem;

    border-radius: var(--border-radius-200);

    font-size: 0.835rem;
  }

  &.disabled,
  &.load {
    background: var(--bg-main-hover);

    cursor: not-allowed;

    color: var(--color-300);

    &:hover,
    &:active {
      background: var(--bg-main-hover);
    }
  }

  .loader {
    color: var(--color-500);

    animation: rotateAnimation 0.9s infinite linear;

    @keyframes rotateAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.blue {
    background: var(--blue-badge-bg);
    border-color: var(--blue-badge-border-color);

    color: var(--blue-badge-color);

    &:hover {
      background: var(--blue-badge-bg-hover);
    }

    &:active {
      background: var(--blue-badge-bg-active);
    }

    &.disabled,
    &.load {
      background: var(--blue-badge-bg-active);

      color: var(--blue-badge-color-disabled);

      cursor: not-allowed;

      .loader {
        color: var(--blue-badge-color);
      }

      &:hover,
      &:active {
        background: var(--blue-badge-bg-active);
      }
    }
  }

  &.red {
    padding: 0.375rem 0.75rem;

    justify-content: start;

    background: transparent;
    border: 0;

    color: var(--red-badge-color);

    &:hover {
      background: var(--red-badge-bg-hover);
    }

    &:active {
      background: var(--red-badge-bg-active);
    }

    .loader {
      color: var(--red-badge-color);
    }

    &.small {
      padding: 0.25rem;
    }

    &.disabled,
    &.load {
      background: var(--red-badge-bg-active);

      opacity: 0.6;

      cursor: not-allowed;

      &:hover,
      &:active {
        background: var(--red-badge-bg-active);
      }
    }
  }
}
