.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  &.small {
    gap: 0.15rem;

    padding: 0.25rem;

    border-radius: var(--border-radius-200);

    font-size: 0.835rem;
  }

  &.disabled,
  &.load {
    background: var(--bg-500-hover);
    border-color: var(--color-200);

    cursor: not-allowed;

    color: var(--color-400);

    &:hover,
    &:active {
      background: var(--bg-500-hover);
      border-color: var(--color-200);

      color: var(--color-400);
    }
  }

  .loader {
    animation: rotateAnimation 0.9s infinite linear;

    @keyframes rotateAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.pulse_animation {
    transform: scale(1);
    box-shadow: 0 0 0 var(--bg-main);
    animation: animation 2s infinite;

    @keyframes animation {
      0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 var(--bg-blue);
      }

      75% {
        transform: scale(1);
        box-shadow: 0 0 0 0.4rem transparent;
      }

      100% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 transparent;
      }
    }
  }

  &.white {
    background: var(--bg-white);
    border-color: transparent;

    color: var(--bg-main);

    &:hover {
      background: var(--bg-white-hover);
    }

    &:active {
      background: var(--bg-white-active);
    }

    &.disabled,
    &.load {
      background: var(--bg-white-hover);

      opacity: 0.8;

      cursor: not-allowed;

      color: var(--color-400);

      &:hover,
      &:active {
        background: var(--bg-white-hover);

        color: var(--color-400);
      }
    }
  }

  &.blue {
    background: var(--bg-blue);
    border-color: transparent;

    color: var(--color-800);

    &:hover {
      background: var(--bg-blue-hover);
    }

    &:active {
      background: var(--bg-blue-active);
    }

    &.disabled,
    &.load {
      background: var(--bg-blue-hover);

      cursor: not-allowed;

      color: var(--color-400);

      &:hover,
      &:active {
        background: var(--bg-blue-hover);

        color: var(--color-400);
      }
    }
  }

  &.red {
    background: var(--bg-red);
    border-color: var(--red-outline-color);

    &:hover {
      background: var(--bg-red-hover);
    }

    &:active {
      background: var(--bg-red-active);
    }

    &.disabled,
    &.load {
      background: var(--bg-red-hover);

      cursor: not-allowed;

      color: var(--color-400);

      &:hover,
      &:active {
        background: var(--bg-red-hover);

        color: var(--color-400);
      }
    }
  }
}
