.banner {
  width: 100%;

  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 0.85rem;

  background: var(--bg-main);
  border: 1px solid var(--color-300);
  border-radius: var(--border-radius-500);
}
