.burger {
  width: 35px;
  height: 35px;

  z-index: 2 !important;

  margin-left: auto;

  display: none;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    display: flex;
  }
}
